<div class="jumbotron">
  <h1>{{ item.name }}</h1>

  <p class="lead mb-0"><strong>Price</strong>: {{ item.price | currency }}</p>
  <p class="lead"><strong>Categories</strong>: {{ categoriesNames() }}</p>

  <a routerLink="/items" class="btn btn-outline-primary">Back to items</a>
</div>
