<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
  <a routerLink='/' class="navbar-brand">Itemer</a>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="/items" routerLinkActive="active" class="nav-link">Items</a>

      </li>
    </ul>
  </div>
</nav>
