<div class="form-row">
  <div class="col-sm-10">
    <label for="filter-by-category-id">FIlter by category</label>

    <select
      class="custom-select"
      id="filter-by-category-id"
      (change)="onChangedCategoryId($event)"
    >
      <option selected value>All</option>
      <option *ngFor="let category of categories" [value]="category.id">
        {{ category.name }}
      </option>
    </select>
  </div>

  <div class="col-sm-2">
    <label for="per-page-input">Per Page</label>

    <input
      type="number"
      min="1"
      (change)="onChangedPerPageNumber()"
      class="form-control"
      id="per-page-input"
      [(ngModel)]="itemsPerPageNumber"
    />
  </div>
</div>
