<category-filter
  (filterItemsByCategoryId)="filterItemsByCategoryId($event)"
  (changeItemsPerPageNumber)="changeItemsPerPageNumber($event)"
  [itemsPerPageNumber]="paginateConfigs.itemsPerPage"
></category-filter>

<div class="text-center text-primary p-5" *ngIf="items.length === 0">
  <span class="oi oi-aperture spinner"></span>
</div>

<div *ngIf="items.length > 0">
  <div class="row justify-content-center mt-3 clearfix">
    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
  </div>

  <div class="row">
    <div
      [ngClass]="colClasses"
      *ngFor="let item of items | categoryFilter: categoryIdFilter | paginate: paginateConfigs"
    >
      <item-card [item]="item"></item-card>
    </div>
  </div>

  <div class="row justify-content-center">
    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
  </div>
</div>

