<div class="text-center">
  <h1>Welcome</h1>

  <blockquote class="blockquote">
    <p class="mb-0">
      Hello dear guest! We suggest you to check our
      <a routerLink='/items' class="badge badge-dark">Items list</a> :)
    </p>

    <footer class="blockquote-footer">
      Enjoy! d(*_*)b
    </footer>
  </blockquote>
</div>
