<div class="row justify-content-center">
  <div class="col">
    <div class="border border-danger p-5">
      <h1>Oops!</h1>

      <h2>404 page not found</h2>

      <p class="lead">
        Unfortunately we have not this page :( Please try to go to anoger page.
      </p>
      <p class="text-muted">All available pages is in nav-bar :)</p>
    </div>
  </div>
</div>
