/* You can add global styles to this file, and also import other style files */
.spinner {
  font-size: 6em;
  animation: spin .7s infinite linear;
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}
