<div class="card border-dark">
  <div class="card-body text-dark">
    <h5 class="card-title text-truncate">
      {{ item.name }}
    </h5>

    <div class="card-text">
      <p class="mb-0">
        Price: {{ item.price | currency }}
      </p>

      <p>
        Categories:
        <span class="badge badge-pill badge-primary">
          {{ item.categories.length }}
        </span>
      </p>

      <a
        routerLink="{{ item.slug }}"
        class="btn btn-outline-primary btn-sm btn-block"
      >
        Show
      </a>
    </div>
  </div>
</div>
